In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [4]:
Y

NameError: name 'Y' is not defined

In [5]:
print (y)

8

In [6]:
x,y = (1,2)

In [7]:
x

1

In [8]:
y

2

In [9]:
x,y = (1,2,3)

ValueError: too many values to unpack (expected 2)

In [10]:
x1 = 5

In [11]:
type(x1)

int

In [12]:
type(-6)

int

In [13]:
x2 = 4.75

In [14]:
type(x2)

float

In [15]:
int(x2)

4

In [16]:
float(5)

5.0

In [17]:
x3 = True

In [18]:
type(x3)

bool

In [19]:
x3 = true

NameError: name 'true' is not defined

In [20]:
George

NameError: name 'George' is not defined

In [21]:
'George'

'George'

In [22]:
"George"

'George'

In [23]:
print ('George')

George

In [24]:
print ("George")

George

In [25]:
x4 = "George"

In [26]:
x4

'George'

In [27]:
y = 10
print (y + "Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
y = 10
print (str(y) + " Dollars")

10 Dollars

In [29]:
'I'm fine'

SyntaxError: invalid syntax (3537474532.py, line 1)

In [30]:
"I'm fine"

"I'm fine"

In [31]:
'I\'m fine'

"I'm fine"

In [32]:
'Press "Enter"'

'Press "Enter"'

In [33]:
'Red' 'car'

'Redcar'

In [34]:
'Red ' 'car'

'Red car'

In [35]:
'Red ' + 'car'

'Red car'

In [36]:
print ('Red ' + 'car')

Red car

In [37]:
print ('Red', 'car')

Red car

In [38]:
print (3,5)

3 5

In [39]:
3, 5, 6.9, 7.0, 'car'

(3, 5, 6.9, 7.0, 'car')

In [40]:
1 + 2

3

In [41]:
3 - 5

-2

In [42]:
15 / 3

5.0

In [43]:
16 / 3

5.333333333333333

In [44]:
float(16) / 3

5.333333333333333

In [45]:
16.0 / 3

5.333333333333333

In [46]:
16 % 3

1

In [47]:
5 * 3

15

In [48]:
x = 5 * 3

In [49]:
x

15

In [50]:
5 ** 3

125

In [51]:
y = 5 ** 3

In [52]:
y

125

In [53]:
y == 125

True

In [54]:
y == 126

False

In [55]:
z = 1
z

1

In [56]:
z = 3
z

3

In [57]:
z + 5

8

In [58]:
z = 7
z

7

In [59]:
3 + 5

8

In [60]:
3 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
3 + 5.0

8.0

In [62]:
#This is just a comment and not code! 
print (7,2)

7 2

In [63]:
# Comment 1
# Comment 2
print (1)

1

In [64]:
2.0 * 1.5 + \
5

8.0

In [65]:
"Friday"

'Friday'

In [66]:
"Friday"[3]

'd'

In [67]:
"Friday"[4]

'a'

In [68]:
def five(x):
    x = 5
    return x
    print (five(3))

In [69]:
def five(x):
    x = 5
    return x

print (five(3))

5